<!DOCTYPE>
<html>
  <head>
    <!-- META tags -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Restaurants Homepage</title>
  </head>
  <body>
    <div class="container">
      <nav id="navBar"
           class="navbar navbar-fixed-top navbar-light bg-faded justify-content-between">
        <a href="{{url_for('restaurants')}}" class="navbar-brand">
          <img id="logo" class="d-inline-block align-top"
               src="/static/img/kanji520.png" alt="Kanji520 Logo">
        </a>
        <h1 class="navbar-text">Restaurants</h1>
        <a href="{{url_for('restaurantNew')}}"
           class="btn btn-outline-success my-2 my-sm-0">Add Restaurant</a>
      </nav>
      <div class="row">
        <div class="col">
          <main id="restaurants">
            {% if restaurants|length > 0 %}
            <div class="restaurant">
              {% for restaurant in restaurants %}
              <div class="row">
                <div class="col-sm-4 col-lg-6 col-xl-8">
                  {{restaurant.name}}
                </div>
                <div class="col text-center">
                  <a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}"
                     class="btn btn-outline-success">View Menu</a>
                </div>
                <div class="col text-center">
                  <a href="{{url_for('restaurantEdit', restaurant_id=restaurant.id)}}"
                     class="btn btn-outline-primary">Edit</a>
                </div>
                <div class="col text-center">
                  <a href="{{url_for('restaurantDelete', restaurant_id=restaurant.id)}}"
                     class="btn btn-outline-danger">Delete</a>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class="empty_restaurant">
              <div class="row">
                <div class="col">
                  <h2>There are no known restaurants</h2>
                  <p>Please add a restaurant.</p>
                </div>
              </div>
            </div>
            {% endif %}
          </main>
        </div>
      </div>
      <footer class="footer">
        <span class="text-muted">Copyright &copy; 2017 by Michael A. Knowlin II</span>
      </footer>
    </div>
    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/afc45895d5.js"></script>
  </body>
</html>
